opencv-python
fastapi
uvicorn[standard]
numpy
requests
ultralytics
pydantic
reachy_mini
soundfile
sounddevice
scipy
faster-whisper
transformers
torch
accelerate
piper-tts
webrtcvad
silero-vad
hf_xet
huggingface-hub
psutil
openai
openwakeword